/* App.css */

:root {
  /* --- Vintage Theme --- */

  --pale-skin: #EDDACE;
  --brick: #C24C1A;
  --soft-green: #1E8D70;
  --teal: #8FCBCD;
}

/* Example usage */
.app {
  background-color: var(--pale-skin);
  color: var(--brick);
}
