@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Soft Studio Light */
    --background: 240 33% 98%;
    --foreground: 222 22% 16%;

    --card: 0 0% 100%;
    --card-foreground: 222 22% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 22% 16%;

    --primary: 262 83% 55%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 222 22% 16%;

    --muted: 210 20% 96%;
    --muted-foreground: 215 15% 46%;

    --accent: 265 60% 96%;
    --accent-foreground: 262 60% 30%;

    --destructive: 0 74% 52%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 15% 90%;
    --input: 220 15% 92%;
    --ring: 262 83% 55%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 96%;

    --card: 0 0% 16%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 16%;
    --popover-foreground: 0 0% 96%;

    --primary: 186 100% 50%;
    --primary-foreground: 0 0% 11%;

    --secondary: 0 0% 29%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 0% 29%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%;

    --border: 0 0% 29%;
    --input: 0 0% 16%;
    --ring: 186 100% 50%;
  }
  
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
